@use "../../styles/tools/rem";

.tag {
  border: 2px solid var(--03);
  border-radius: 100px;
  display: inline-block;
  color: var(--03);
  font-weight: 700;
  padding: rem.rem(6) rem.rem(14);
  text-transform: uppercase;
  transition-property: color, background-color;
  line-height: 125%;
  transition-duration: 250ms;

  @media (hover: hover) {
    &:hover {
      background-color: var(--03);
      color: var(--05);
    }
  }
}
