@use "../../styles/tools/rem";
@use "../../styles/tools/media";
@use "../../styles/settings/media-queries" as breakpoint;

.header {
  padding: rem.rem(16);

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem.rem(1440);
    margin-inline: auto;
  }

  nav {
    background-color: var(--06);
    position: fixed;
    inset: auto 0 0 0;
    height: calc(100vh - var(--header-height));
    padding: rem.rem(16);
    transform: translateX(100%);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    overflow-y: scroll;
    opacity: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: rem.rem(32);
  }

  a {
    color: var(--02);
    display: inline-block;
    font-weight: 700;
    line-height: 125%;

    @media (hover: hover) {
      &:hover {
        color: var(--03);
      }
    }
  }

  &.isActive {
    nav {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @include media.from(#{breakpoint.$media_desktop}) {
    padding-inline: rem.rem(32);

    &__wrap {
      gap: rem.rem(80);
      justify-content: flex-start;
    }

    nav {
      background-color: transparent;
      height: auto;
      inset: auto;
      opacity: 1;
      overflow-y: auto;
      padding: 0;
      position: relative;
      transform: none;
      transition: none;
    }

    ul {
      flex-direction: row;
    }

    .button {
      display: none;
    }
  }
}

.button {
  display: grid;
  place-items: center;
  position: relative;
  width: rem.rem(40);
  height: rem.rem(40);
}

.hamburger-inner {
  transition-duration: 75ms;

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: rem.rem(-10);
    transition: top 75ms ease 0.12s, opacity 75ms ease;
  }

  &::after {
    bottom: rem.rem(-10);
    transition: bottom 75ms ease 0.12s,
      transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  border-radius: 2px;
  position: absolute;
  width: rem.rem(32);
  height: rem.rem(2);
  background-color: var(--02);
}

.isActive {
  .hamburger-inner {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(45deg);

    &::before {
      top: 0;
      transition: top 75ms ease, opacity 75ms ease 0.12s;
      opacity: 0;
    }

    &::after {
      bottom: 0;
      transition: bottom 75ms ease,
        transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      transform: rotate(-90deg);
    }
  }
}
